// http://chriskempson.github.io/base16/#ocean
@import "normalize";

$base01: #343d46;
$base03: #65737e;
$base05: #c0c5ce;
$base07: #96b5b4;
$base08: #bf616a;
$base0b: #a3be8c;
$base0d: #8fa1b3;

body {
  background: $base01;
  color: $base05;
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 13px;
  font-weight: 100;
  line-height: 1.8;
}

h1 {
  color: $base08;
}

p {
  margin-top: 0;
}

a {
  color: $base0b;
  text-decoration: none;

  &:hover {
    color: $base07;
  }
}

.wrapper {
  margin-top: 2em;
  position: relative;
  width: 68em;
}

header, main, footer {
  margin-left: 10em;
}

aside {
  position: absolute;
  top: 4em;
  left: 2em;
  text-align: right;

  ul.links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: $base0d;
    text-align: right;
  }
}

footer {
  color: $base03;

  span.copy {
    margin-right: -5px;
    font-size: 75%;
  }
}
