%section.intro
  %p
    Elle is a full stack web developer with more than ten years experience, a passion for web standards and a unique background that bridges the gap between the front- and back-end. She employs best–practice techniques to deliver clean, functional and user–friendly websites. In 2007, she discovered Ruby and has since been building web applications with Ruby, Rails, Haml, Sass, Coffeescript and other such awesome technologies. She recently started learning Haskell, and would like to play with Elixir, and React.

  %p
    In 2013 and 2014 Elle organised <a href="http://railsgirls.com/sydney">Rails Girls events in Sydney</a>, <a href="http://rubyconf.org.au">RubyConfAU 2014</a>, and was a member of the <a href="http://ruby.org.au/committee">Ruby Australia</a> committee.

  %p
    In 2015 Elle moved to New York to work with  <a href="http://thoughtbot.com">thoughtbot</a> and on the way co-organised <a href="http://goruco.com">Gotham Ruby Conference</a>.
