%section.intro
  %p
    Elle is a full stack web developer with more than ten years experience, a passion for web standards and a unique background that bridges the gap between the front- and back-end. She employs best–practice techniques to deliver clean, functional and user–friendly websites. In 2007, she discovered Ruby and has since been building web applications with Ruby, Rails, Haml, Sass, Coffeescript and other such awesome technologies. She recently started learning Haskell, and would like to play with Elixir, and React.

  %p
    In 2013 and 2014 Elle organised <a href="http://railsgirls.com/sydney">Rails Girls events in Sydney</a>, <a href="http://rubyconf.org.au">RubyConfAU 2014</a>, and was a member of the <a href="http://ruby.org.au/committee">Ruby Australia</a> committee.

  %p
    In 2015 Elle moved to New York to work with  <a href="http://thoughtbot.com">thoughtbot</a> and on the way co-organised <a href="http://goruco.com">Gotham Ruby Conference</a>, and started <a href="https://twitter.com/aemeredith/status/724972302618730496">a monthly work jelly for women in tech.</a>

  %p
    In 2016, Elle co-organised <a href="https://east.railscamp.us/">Rails Camp USA East Coast</a> at the Catskills, NY as well as GORUCO X.

%section#talks
  %h3 Talks

  %ul
    %li Dying Kittens and Vendor Prefixes Dramas, Brisbane Web Design Meeting, Feb 2012
    %li Intro to Minitest, Rorosyd meetup, Sydney, Aug 2012
    %li Smarter CSS with Sass, Web Directions South, Oct 2012
    %li Sass Primer, Girl Geek Dinner Sydney meetup, Dec 2012
    %li Better Web Typography with Modular Scale, What Do You Know Sydney, Mar 2013
    %li Source Maps for Debugging, Web Directions Code, Melbourne, May 2013
    %li Regular Expressions with Ruby, What Do You Know Sydney, Apr 2014
    %li A Case Study in Time Zones, Railscamp Perth, Nov 2014
    %li Introduction to TDD in Ruby, Railscamp Sydney, June 2015
    %li Just in Time, Brighton Ruby, Jul 2015
    %li Just in Time, Rails Israel, Tel Aviv, Nov 2015
    %li Feedback Matters, Ruby Conf AU, Gold Coast, Feb 2016
    %li Self-learning is a Marathon, not a Sprint, Ruby Nation, Washington DC, June 2016
    %li Conference organisers Panelist, Write/Speak/Code, Chicago, IL, June 2016
    %li Self-learning is a Marathon, not a Sprint, Full Stack Conference, Toronto, CA, Oct 2016

%br
