%section.intro
  %header
    %h1 Elle Meredith
  %p
    Elle is a full stack web developer with more than ten years experience, a passion for web standards and a unique background that bridges the gap between the front- and back-end. She employs best–practice techniques to deliver clean, functional and user–friendly websites. In 2007, she discovered Ruby and has since been building web applications with Ruby, Rails, Haml, Sass, Coffeescript and other such awesome technologies. Furthermore, Elle is very active in the community, organising <a href='http://railsgirls.com/sydney'>Rails Girls events in Sydney</a>, the annual <a href='http://rubyconf.org.au'>RubyConfAU</a> in 2014, and being a member of the <a href='http://ruby.org.au/committee'>Ruby Australia</a> committee.
