!!!
%html
  %head
    %title aemeredith
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}
    %link{href: "/application.css", rel: "stylesheet"}
    <script src="https://amphibian.foodfamily.app/script.js" data-site="ANNYUBXU" defer></script>
  %body
    .wrapper
      %header
        %h1 Elle Meredith

      %main
        = yield

      %aside
        %ul.links
          %li
            %a{href: "http://decafsucks.com/people/1379-aemeredith"}
              Decaf Sucks
          %li
            %a{href: "https://www.flickr.com/photos/aemeredith"}
              Flickr
          %li
            %a{href: "https://github.com/elle"}
              Github
          %li
            %a{href: "http://instagr.am/aemeredith"}
              Instagram
          %li
            %a{href: "https://www.linkedin.com/in/ellemeredith"}
              LinkedIn
          %li
            %a{href: "https://speakerdeck.com/aemeredith"}
              Speakerdeck
          %li
            %a{href: "https://twitter.com/aemeredith"}
              Twitter
      %footer
        %p.copyright
          %span.copy
            &copy;
          %span.site
            aemeredith.com
